VITE_BACKEND_URL=http://localhost:4000
VITE_BRAND_NAME=Drip
VITE_BRAND_LEGAL_NAME=Drip Clothing
VITE_BRAND_EMAIL=hello@yourdomain.com
VITE_BRAND_WHATSAPP=+91 00000 00000
VITE_BRAND_ADDRESS=Your business address
VITE_BRAND_INSTAGRAM_HANDLE=@drip
VITE_BRAND_INSTAGRAM_URL=https://www.instagram.com/drip/
